# COGS 108 FINAL PROJECT

This notebook will explore the salary of SF workers in the government sector, and help us understand how these salaries have grown relative to each other, as well as relative to COA, inflation, and general economic growth.

This dataset will come from the years of 2011 - 2014, and will reflect the years post economic downturn from the 2008 recession.

In [6]:
import pandas as pd
import seaborn
import matplotlib as mpl
import numpy as np
import re

We'll need to import the data collected from these Government-related jobs from 2011 - 2014 from the Dataset from Kaggle.

In [7]:
salary_df = pd.read_csv("Salaries.csv", dtype={'JobTitle': 'object', "BasePay": 'object', "Overtime": 'object', 'Otherpay': 'object', 'Agency': 'object'})

C:\Users\UNKNWN\Anaconda3\envs\37cogs108\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
# print(salary_df.loc[10])
# Explore CPI, Median Home Prices, Utility Prices

We'll also want to clean up this data in regards to safe harbor; this will require us to remove the name of the employee, as well as the agency of each person; conviently, all agencies are in San Francisco, as it is the area we are taking a look at.

In [9]:
salary_df = salary_df.drop(columns=['EmployeeName'])

In [10]:
#print(salary_df.loc[10])

In [11]:
#print(salary_df['JobTitle'].value_counts())
#salary_df['JobTitle'].unique()

Lets try to even out the data by stripping out anything within parenthesis to clear up and duplicates

In [12]:
salary_df['JobTitle'] = salary_df['JobTitle'].str.upper()
#print(salary_df['JobTitle'])
#salary_df['JobTitle'].value_counts()

In [13]:
#Seperate Dataframes into yearly parts (2011, 2012, 2013, 2014)
year2011 = 0
year2012 = 0
year2013 = 0
year2014 = 0


for i in range(0, salary_df['Year'].size):
    if salary_df['Year'].iloc[i] == 2011:
        year2011 += 1
        year2012 += 1
        year2013 += 1
    elif salary_df['Year'].iloc[i] == 2012:
        year2012 += 1
        year2013 += 1
    elif salary_df['Year'].iloc[i] == 2013:
        year2013 += 1
        
salary_2011 = salary_df[:year2011]
salary_2012 = salary_df[year2011:year2012]
salary_2013 = salary_df[year2012:year2013]
salary_2014 = salary_df[year2013:]

In [14]:
#print(salary_2011[salary_2011['JobTitle'] == "CLERK"].index)

Lets drop any counts where the job count is below 30, for clarity sake.

In [15]:
# print(salary_2011)
#print(salary_2011["JobTitle"].value_counts())
# drop2011 = []
# drop2012 = []
# drop2013 = []
# drop2014 = []

for key, value in salary_2011["JobTitle"].value_counts().to_dict().items():
    if value <= 30:      
        salary_2011.drop(salary_2011[salary_2011["JobTitle"] == key].index, inplace=True)
    
#print(salary_2011["JobTitle"].value_counts())

for key, value in salary_2012["JobTitle"].value_counts().to_dict().items():
    if value <= 30:
#         drop2012.append(key)
        salary_2012.drop(salary_2012[salary_2012["JobTitle"] == key].index, inplace=True)
        
for key, value in salary_2013["JobTitle"].value_counts().to_dict().items():
    if value <= 30:
#         drop2013.append(key)
        salary_2013.drop(salary_2013[salary_2013["JobTitle"] == key].index, inplace=True)

for key, value in salary_2014["JobTitle"].value_counts().to_dict().items():
    if value <= 30:
#         drop2014.append(key)
        salary_2014.drop(salary_2014[salary_2014["JobTitle"] == key].index, inplace=True)
        
# print(salary_2011["JobTitle"].value_counts())
#counter = 0
# # regex = re.compile(r'\([^)]*\)')
# for job in salary_df["JobTitle"]:
#     if regex.search(job):
#         salary_df.replace(counter, re.sub(regex, "", job)[:-1])
#     counter += 1
    
# print(salary_df['JobTitle'].value_counts())

C:\Users\UNKNWN\Anaconda3\envs\37cogs108\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [16]:
#salary_2011["JobTitle"].value_counts().index.tolist()
#print("POLICE" in "POLICE OFFICER")

We'll go ahead and now sort the thousands of jobs into a few catagories to make viewing and calculations easier

In [17]:
def groupSorter(seriesToSort):
    policeNetwork = []
    fireNetwork = []
    healthNetwork = []
    serviceNetwork = []
    lawNetwork= []
    commerceNetwork = []
    adminNetwork = []
    itNetwork = []
    otherNetwork = []
    for index, row in seriesToSort.iterrows():
        obj = row['JobTitle']
        #print(row)
        #Put these in Police network
        if "POLICE" in obj:
            policeNetwork.append(index)
        elif "SHERIFF" in obj:
            policeNetwork.append(index)
        elif "OFFICER" in obj:
            policeNetwork.append(index)
        elif "GUARD" in obj:
            if "LIFEGUARD" in obj:
                serviceNetwork.append(index)
            else:
                policeNetwork.append(index)
        elif "COMMISSIONER" in obj:
            policeNetwork.append(index)
        #put these in the fire network
        elif "FIRE" in obj:
            fireNetwork.append(index)
        #Put these in health Network
        elif "NURS" in obj:
            healthNetwork.append(index)
        elif "PHARM" in obj:
            healthNetwork.append(index)
        elif "HEALTH" in obj:
            healthNetwork.append(index)
        elif "PYSCH" in obj:
            healthNetwork.append(index)
        elif "MEDICAL" in obj:
            healthNetwork.append(index)
            
        #Put these in service network
        
        elif "DRIVE" in obj:
            serviceNetwork.append(index)
        elif "CUST" in obj:
            serviceNetwork.append(index)
        elif "REC" in obj:
            serviceNetwork.append(index)
        elif "LIBRAR" in obj:
            serviceNetwork.append(index)
        elif "SERVICE" in obj:
            serviceNetwork.append(index)
        elif "ELIGIBILTY" in obj:
            serviceNetwork.append(index)
        elif "GARDEN" in obj:
            serviceNetwork.append(index)
        elif "WORKER" in obj:
            serviceNetwork.append(index)
        elif "TECHNICIAN" in obj:
            serviceNetwork.append(index)
        elif "OPERATOR" in obj:
            serviceNetwork.append(index)
        elif "ATTEND" in obj:
            serviceNetwork.append(index)
        elif "MAINT" in obj:
            serviceNetwork.append(index)
        elif "PORT" in obj:
            serviceNetwork.append(index)
        elif "CARE" in obj:
            serviceNetwork.append(index)
        elif "MECH" in obj:
            serviceNetwork.append(index)
            
        #Put these in law
        elif "LAWYER" in obj:
            lawNetwork.append(index)
        elif "ATTORNEY" in obj:
            lawNetwork.append(index)
        elif "SAFETY" in obj:
            lawNetwork.append(index)
        elif "COURT" in obj:
            lawNetwork.append(index)
        #put these in commerce
        elif "STORE" in obj:
            commerceNetwork.append(index)
        #put these in adminstrative
        elif "ADMIN" in obj:
            adminNetwork.append(index)
        elif "SUPER" in obj:
            adminNetwork.append(index)
        elif "AIDE" in obj:
            adminNetwork.append(index)
        elif "MANAG" in obj:
            adminNetwork.append(index)
        elif "SPECIAL" in obj:
            adminNetwork.append(index)
        elif "CLERK" in obj:
            adminNetwork.append(index)
        elif "ASSIST" in obj:
            adminNetwork.append(index)
        elif "OPER" in obj:
            adminNetwork.append(index)
        #put these in IT
        elif "ENGINEER" in obj:
            itNetwork.append(index)
        elif "IS" in obj:
            itNetwork.append(index)
        #put these in other
        else:
            otherNetwork.append(index)

    return policeNetwork, fireNetwork, healthNetwork, serviceNetwork, lawNetwork, commerceNetwork, adminNetwork, itNetwork, otherNetwork

In [18]:
policeGrouped_2011 = []
fireGrouped_2011 = []
healthGrouped_2011 = []
servicesGrouped_2011 = []
lawGrouped_2011 = []
commerceGrouped_2011 = []
adminGrouped_2011 = []
itGrouped_2011 = []
otherGrouped_2011 = []

policeGrouped_2011, fireGrouped_2011, healthGrouped_2011, servicesGrouped_2011, lawGrouped_2011, commerceGrouped_2011, adminGrouped_2011, itGrouped_2011, otherGrouped_2011 = groupSorter(salary_2011)

policeGrouped_2012= []
fireGrouped_2012= []
healthGrouped_2012= []
servicesGrouped_2012= []
lawGrouped_2012= []
commerceGrouped_2012= []
adminGrouped_2012= []
itGrouped_2012= []
otherGrouped_2012= []

policeGrouped_2012, fireGrouped_2012, healthGrouped_2012, servicesGrouped_2012, lawGrouped_2012, commerceGrouped_2012, adminGrouped_2012, itGrouped_2012, otherGrouped_2012 = groupSorter(salary_2012)


policeGrouped_2013= []
fireGrouped_2013= []
healthGrouped_2013= []
servicesGrouped_2013= []
lawGrouped_2013= []
commerceGrouped_2013= []
adminGrouped_2013= []
itGrouped_2013= []
otherGrouped_2013= []

policeGrouped_2013, fireGrouped_2013, healthGrouped_2013, servicesGrouped_2013, lawGrouped_2013, commerceGrouped_2013, adminGrouped_2013, itGrouped_2013, otherGrouped_2013 = groupSorter(salary_2013)

policeGrouped_2014= []
fireGrouped_2014= []
healthGrouped_2014= []
servicesGrouped_2014= []
lawGrouped_2014= []
commerceGrouped_2014= []
adminGrouped_2014= []
itGrouped_2014= []
otherGrouped_2014= []

policeGrouped_2014, fireGrouped_2014, healthGrouped_2014, servicesGrouped_2014, lawGrouped_2014, commerceGrouped_2014, adminGrouped_2014, itGrouped_2014, otherGrouped_2014 = groupSorter(salary_2014)

Lets generate averages and new dataframes for the departmental data

In [19]:
#Set up averages and new Dataframes

averagePolice2011 = 0
averagePolice2012 = 0
averagePolice2013 = 0
averagePolice2014 = 0

police2011list = []
police2012list = []
police2013list = []
police2014list = []

for i in policeGrouped_2011:
    averagePolice2011 += salary_2011['TotalPayBenefits'].loc[i]
    police2011list.append(salary_2011.loc[i])
    
for i in policeGrouped_2012:
    averagePolice2012 += salary_2012['TotalPayBenefits'].loc[i]
    police2012list.append(salary_2012.loc[i])
    
for i in policeGrouped_2013:
    averagePolice2013 += salary_2013['TotalPayBenefits'].loc[i]
    police2013list.append(salary_2013.loc[i])
    
for i in policeGrouped_2014:
    averagePolice2014 += salary_2014['TotalPayBenefits'].loc[i]
    police2014list.append(salary_2014.loc[i])
    
    
averagePolice2011 = averagePolice2011/len(policeGrouped_2011)
averagePolice2012 = averagePolice2012/len(policeGrouped_2012)
averagePolice2013 = averagePolice2013/len(policeGrouped_2013)
averagePolice2014 = averagePolice2014/len(policeGrouped_2014)

police2011df = pd.DataFrame(police2011list)
police2012df = pd.DataFrame(police2012list)
police2013df = pd.DataFrame(police2013list)
police2014df = pd.DataFrame(police2014list)

In [20]:
averageFire2011 = 0
averageFire2012 = 0
averageFire2013 = 0
averageFire2014 = 0

fire2011list = []
fire2012list = []
fire2013list = []
fire2014list = []

for i in fireGrouped_2011:
    averageFire2011 += salary_2011["TotalPayBenefits"].loc[i]
    fire2011list.append(salary_2011.loc[i])
    
for i in fireGrouped_2012:
    averageFire2012 += salary_2012["TotalPayBenefits"].loc[i]
    fire2012list.append(salary_2012.loc[i])
    
for i in fireGrouped_2013:
    averageFire2013 += salary_2013["TotalPayBenefits"].loc[i]
    fire2013list.append(salary_2013.loc[i])
    
for i in fireGrouped_2014:
    averageFire2014 += salary_2014["TotalPayBenefits"].loc[i]
    fire2014list.append(salary_2014.loc[i])
    
averageFire2011 = averageFire2011/len(fireGrouped_2011)
averageFire2012 = averageFire2012/len(fireGrouped_2012)
averageFire2013 = averageFire2013/len(fireGrouped_2013)
averageFire2014 = averageFire2014/len(fireGrouped_2014)

fire2011df = pd.DataFrame(fire2011list)
fire2012df = pd.DataFrame(fire2012list)
fire2013df = pd.DataFrame(fire2013list)
fire2014df = pd.DataFrame(fire2014list)

In [21]:
averageHealth2011 = 0
averageHealth2012 = 0
averageHealth2013 = 0
averageHealth2014 = 0

health2011list = []
health2012list = []
health2013list = []
health2014list = []

for i in healthGrouped_2011:
    averageHealth2011 += salary_2011["TotalPayBenefits"].loc[i]
    health2011list.append(salary_2011.loc[i])
    
for i in healthGrouped_2012:
    averageHealth2012 += salary_2012["TotalPayBenefits"].loc[i]
    health2012list.append(salary_2012.loc[i])
    
for i in healthGrouped_2013:
    averageHealth2013 += salary_2013["TotalPayBenefits"].loc[i]
    health2013list.append(salary_2013.loc[i])
    
for i in healthGrouped_2014:
    averageHealth2014 += salary_2014["TotalPayBenefits"].loc[i]
    health2014list.append(salary_2014.loc[i])
    
averageHealth2011 = averageHealth2011/len(healthGrouped_2011)
averageHealth2012 = averageHealth2012/len(healthGrouped_2012)
averageHealth2013 = averageHealth2013/len(healthGrouped_2013)
averageHealth2014 = averageHealth2014/len(healthGrouped_2014)

health2011df = pd.DataFrame(health2011list)
health2012df = pd.DataFrame(health2012list)
health2013df = pd.DataFrame(health2013list)
health2014df = pd.DataFrame(health2014list)

In [22]:
averageService2011 = 0
averageService2012 = 0
averageService2013 = 0
averageService2014 = 0

service2011list = []
service2012list = []
service2013list = []
service2014list = []

for i in servicesGrouped_2011:
    averageService2011 += salary_2011["TotalPayBenefits"].loc[i]
    service2011list.append(salary_2011.loc[i])
    
for i in servicesGrouped_2012:
    averageService2012 += salary_2012["TotalPayBenefits"].loc[i]
    service2012list.append(salary_2012.loc[i])
    
for i in servicesGrouped_2013:
    averageService2013 += salary_2013["TotalPayBenefits"].loc[i]
    service2013list.append(salary_2013.loc[i])
    
for i in servicesGrouped_2014:
    averageService2014 += salary_2014["TotalPayBenefits"].loc[i]
    service2014list.append(salary_2014.loc[i])
    
averageService2011 = averageService2011/len(servicesGrouped_2011)
averageService2012 = averageService2012/len(servicesGrouped_2012)
averageService2013 = averageService2013/len(servicesGrouped_2013)
averageService2014 = averageService2014/len(servicesGrouped_2014)

service2011df = pd.DataFrame(service2011list)
service2012df = pd.DataFrame(service2012list)
service2013df = pd.DataFrame(service2013list)
service2014df = pd.DataFrame(service2014list)

In [23]:
averageCommerce2011 = 0
averageCommerce2012 = 0
averageCommerce2013 = 0
averageCommerce2014 = 0

commerce2011list = []
commerce2012list = []
commerce2013list = []
commerce2014list = []

for i in commerceGrouped_2011:
    averageCommerce2011 += salary_2011["TotalPayBenefits"].loc[i]
    commerce2011list.append(salary_2011.loc[i])
    
for i in commerceGrouped_2012:
    averageCommerce2012 += salary_2012["TotalPayBenefits"].loc[i]
    commerce2012list.append(salary_2012.loc[i])
    
for i in commerceGrouped_2013:
    averageCommerce2013 += salary_2013["TotalPayBenefits"].loc[i]
    commerce2013list.append(salary_2013.loc[i])
    
for i in commerceGrouped_2014:
    averageCommerce2014 += salary_2014["TotalPayBenefits"].loc[i]
    commerce2014list.append(salary_2014.loc[i])
    
averageCommerce2011 = averageCommerce2011/len(commerceGrouped_2011)
averageCommerce2012 = averageCommerce2012/len(commerceGrouped_2012)
averageCommerce2013 = averageCommerce2013/len(commerceGrouped_2013)
averageCommerce2014 = averageCommerce2014/len(commerceGrouped_2014)

commerce2011df = pd.DataFrame(commerce2011list)
commerce2012df = pd.DataFrame(commerce2012list)
commerce2013df = pd.DataFrame(commerce2013list)
commerce2014df = pd.DataFrame(commerce2014list)

In [24]:
averageAdmin2011 = 0
averageAdmin2012 = 0
averageAdmin2013 = 0
averageAdmin2014 = 0

admin2011list = []
admin2012list = []
admin2013list = []
admin2014list = []

for i in adminGrouped_2011:
    averageAdmin2011 += salary_2011["TotalPayBenefits"].loc[i]
    admin2011list.append(salary_2011.loc[i])
    
for i in adminGrouped_2012:
    averageAdmin2012 += salary_2012["TotalPayBenefits"].loc[i]
    admin2012list.append(salary_2012.loc[i])
    
for i in adminGrouped_2013:
    averageAdmin2013 += salary_2013["TotalPayBenefits"].loc[i]
    admin2013list.append(salary_2013.loc[i])
    
for i in adminGrouped_2014:
    averageAdmin2014 += salary_2014["TotalPayBenefits"].loc[i]
    admin2014list.append(salary_2014.loc[i])
    
averageAdmin2011 = averageAdmin2011/len(adminGrouped_2011)
averageAdmin2012 = averageAdmin2012/len(adminGrouped_2012)
averageAdmin2013 = averageAdmin2013/len(adminGrouped_2013)
averageAdmin2014 = averageAdmin2014/len(adminGrouped_2014)

admin2011df = pd.DataFrame(admin2011list)
admin2012df = pd.DataFrame(admin2012list)
admin2013df = pd.DataFrame(admin2013list)
admin2014df = pd.DataFrame(admin2014list)

In [25]:
averageIt2011 = 0
averageIt2012 = 0
averageIt2013 = 0
averageIt2014 = 0

It2011list = []
It2012list = []
It2013list = []
It2014list = []

for i in itGrouped_2011:
    averageIt2011 += salary_2011["TotalPayBenefits"].loc[i]
    It2011list.append(salary_2011.loc[i])
    
for i in itGrouped_2012:
    averageIt2012 += salary_2012["TotalPayBenefits"].loc[i]
    It2012list.append(salary_2012.loc[i])
    
for i in itGrouped_2013:
    averageIt2013 += salary_2013["TotalPayBenefits"].loc[i]
    It2013list.append(salary_2013.loc[i])
    
for i in itGrouped_2014:
    averageIt2014 += salary_2014["TotalPayBenefits"].loc[i]
    It2014list.append(salary_2014.loc[i])
    
averageIt2011 = averageIt2011/len(itGrouped_2011)
averageIt2012 = averageIt2012/len(itGrouped_2012)
averageIt2013 = averageIt2013/len(itGrouped_2013)
averageIt2014 = averageIt2014/len(itGrouped_2014)

It2011df = pd.DataFrame(It2011list)
It2012df = pd.DataFrame(It2012list)
It2013df = pd.DataFrame(It2013list)
It2014df = pd.DataFrame(It2014list)

In [26]:
averageOther2011 = 0
averageOther2012 = 0
averageOther2013 = 0
averageOther2014 = 0

other2011list = []
other2012list = []
other2013list = []
other2014list = []

for i in otherGrouped_2011:
    averageOther2011 += salary_2011["TotalPayBenefits"].loc[i]
    other2011list.append(salary_2011.loc[i])
    
for i in otherGrouped_2012:
    averageOther2012 += salary_2012["TotalPayBenefits"].loc[i]
    other2012list.append(salary_2012.loc[i])
    
for i in otherGrouped_2013:
    averageOther2013 += salary_2013["TotalPayBenefits"].loc[i]
    other2013list.append(salary_2013.loc[i])
    
for i in otherGrouped_2014:
    averageOther2014 += salary_2014["TotalPayBenefits"].loc[i]
    other2014list.append(salary_2014.loc[i])
    
averageOther2011 = averageOther2011/len(otherGrouped_2011)
averageOther2012 = averageOther2012/len(otherGrouped_2012)
averageOther2013 = averageOther2013/len(otherGrouped_2013)
averageOther2014 = averageOther2014/len(otherGrouped_2014)

other2011df = pd.DataFrame(other2011list)
other2012df = pd.DataFrame(other2012list)
other2013df = pd.DataFrame(other2013list)
other2014df = pd.DataFrame(other2014list)

In [27]:
#print(averagePolice2011, averagePolice2012, averagePolice2013, averagePolice2014)

We can compare these increases in pay in SF to the increases in pay in LA, and then use these values to compare to the effective rise in inflation, cost of living, and housing in these relative areas.

However, we will need to cleanup the LA data set first.

In [28]:
LA2011_salary_df = pd.read_csv("los-angeles-2011.csv", dtype={'EmployeeName':'object','JobTitle': 'object', "BasePay": 'object', "Overtime": 'object', 'Otherpay': 'object', 'Agency': 'object'})
LA2011_salary_df = LA2011_salary_df.drop(columns=['EmployeeName'])
LA2011_salary_df['JobTitle'] = LA2011_salary_df['JobTitle'].str.upper()

LA2012_salary_df = pd.read_csv("los-angeles-2012.csv", dtype={'EmployeeName':'object','JobTitle': 'object', "BasePay": 'object', "Overtime": 'object', 'Otherpay': 'object', 'Agency': 'object'})
LA2012_salary_df = LA2012_salary_df.drop(columns=['EmployeeName'])
LA2012_salary_df['JobTitle'] = LA2012_salary_df['JobTitle'].str.upper()

LA2013_salary_df = pd.read_csv("los-angeles-2013.csv", dtype={'EmployeeName':'object','JobTitle': 'object', "BasePay": 'object', "Overtime": 'object', 'Otherpay': 'object', 'Agency': 'object'})
LA2013_salary_df = LA2013_salary_df.drop(columns=['EmployeeName'])
LA2013_salary_df['JobTitle'] = LA2013_salary_df['JobTitle'].str.upper()

LA2014_salary_df = pd.read_csv("los-angeles-2014.csv", dtype={'EmployeeName':'object','JobTitle': 'object', "BasePay": 'object', "Overtime": 'object', 'Otherpay': 'object', 'Agency': 'object'})
LA2014_salary_df = LA2014_salary_df.drop(columns=['EmployeeName'])
LA2014_salary_df['JobTitle'] = LA2014_salary_df['JobTitle'].str.upper()

LA2015_salary_df = pd.read_csv("los-angeles-2015.csv", dtype={'EmployeeName':'object','JobTitle': 'object', "BasePay": 'object', "Overtime": 'object', 'Otherpay': 'object', 'Agency': 'object'})
LA2015_salary_df = LA2015_salary_df.drop(columns=['EmployeeName'])
LA2015_salary_df['JobTitle'] = LA2015_salary_df['JobTitle'].str.upper()

LA2016_salary_df = pd.read_csv("los-angeles-2016.csv", dtype={'EmployeeName':'object','JobTitle': 'object', "BasePay": 'object', "Overtime": 'object', 'Otherpay': 'object', 'Agency': 'object'})
LA2016_salary_df = LA2016_salary_df.drop(columns=['EmployeeName'])
LA2016_salary_df['JobTitle'] = LA2016_salary_df['JobTitle'].str.upper()

LA2017_salary_df = pd.read_csv("los-angeles-2017.csv", dtype={'EmployeeName':'object','JobTitle': 'object', "BasePay": 'object', "Overtime": 'object', 'Otherpay': 'object', 'Agency': 'object'})
LA2017_salary_df = LA2017_salary_df.drop(columns=['EmployeeName'])
LA2017_salary_df['JobTitle'] = LA2017_salary_df['JobTitle'].str.upper()

In [29]:
for key, value in LA2011_salary_df["JobTitle"].value_counts().to_dict().items():
    if value <= 30:      
        LA2011_salary_df.drop(LA2011_salary_df[LA2011_salary_df["JobTitle"] == key].index, inplace=True)
    
#print(LA2011_salary_df["Job Title"].value_counts())

for key, value in LA2012_salary_df["JobTitle"].value_counts().to_dict().items():
    if value <= 30:      
        LA2012_salary_df.drop(LA2012_salary_df[LA2012_salary_df["JobTitle"] == key].index, inplace=True)
        
for key, value in LA2013_salary_df["JobTitle"].value_counts().to_dict().items():
    if value <= 30:      
        LA2013_salary_df.drop(LA2013_salary_df[LA2013_salary_df["JobTitle"] == key].index, inplace=True)

for key, value in LA2014_salary_df["JobTitle"].value_counts().to_dict().items():
    if value <= 30:      
        LA2014_salary_df.drop(LA2014_salary_df[LA2014_salary_df["JobTitle"] == key].index, inplace=True)
        
for key,  value in LA2015_salary_df["JobTitle"].value_counts().to_dict().items():
    if value <= 30:      
        LA2015_salary_df.drop(LA2015_salary_df[LA2015_salary_df["JobTitle"] == key].index, inplace=True)
        
for key, value in LA2016_salary_df["JobTitle"].value_counts().to_dict().items():
    if value <= 30:      
        LA2016_salary_df.drop(LA2016_salary_df[LA2016_salary_df["JobTitle"] == key].index, inplace=True)
        
for key, value in LA2017_salary_df["JobTitle"].value_counts().to_dict().items():
    if value <= 30:      
        LA2017_salary_df.drop(LA2017_salary_df[LA2017_salary_df["JobTitle"] == key].index, inplace=True)

In [30]:
#LA2012_salary_df["JobTitle"].value_counts().index.tolist()

In [31]:
#2011 LA sort
LA_policeGrouped_2011 = []
LA_fireGrouped_2011 = []
LA_healthGrouped_2011 = []
LA_servicesGrouped_2011 = []
LA_lawGrouped_2011 = []
LA_commerceGrouped_2011 = []
LA_adminGrouped_2011 = []
LA_itGrouped_2011 = []
LA_otherGrouped_2011 = []

LA_policeGrouped_2011, LA_fireGrouped_2011, LA_healthGrouped_2011, LA_servicesGrouped_2011, LA_lawGrouped_2011, LA_commerceGrouped_2011, LA_adminGrouped_2011, LA_itGrouped_2011, LA_otherGrouped_2011 = groupSorter(LA2011_salary_df)

#2012 LA Sort
LA_policeGrouped_2012 = []
LA_fireGrouped_2012 = []
LA_healthGrouped_2012 = []
LA_servicesGrouped_2012 = []
LA_lawGrouped_2012 = []
LA_commerceGrouped_2012 = []
LA_adminGrouped_2012 = []
LA_itGrouped_2012 = []
LA_otherGrouped_2012 = []

LA_policeGrouped_2012, LA_fireGrouped_2012, LA_healthGrouped_2012, LA_servicesGrouped_2012, LA_lawGrouped_2012, LA_commerceGrouped_2012, LA_adminGrouped_2012, LA_itGrouped_2012, LA_otherGrouped_2012 = groupSorter(LA2012_salary_df)

#2013 LA Sort
LA_policeGrouped_2013 = []
LA_fireGrouped_2013 = []
LA_healthGrouped_2013 = []
LA_servicesGrouped_2013 = []
LA_lawGrouped_2013 = []
LA_commerceGrouped_2013 = []
LA_adminGrouped_2013 = []
LA_itGrouped_2013 = []
LA_otherGrouped_2013 = []

LA_policeGrouped_2013, LA_fireGrouped_2013, LA_healthGrouped_2013, LA_servicesGrouped_2013, LA_lawGrouped_2013, LA_commerceGrouped_2013, LA_adminGrouped_2013, LA_itGrouped_2013, LA_otherGrouped_2013 = groupSorter(LA2013_salary_df)

#2014 LA Sort
LA_policeGrouped_2014 = []
LA_fireGrouped_2014 = []
LA_healthGrouped_2014 = []
LA_servicesGrouped_2014 = []
LA_lawGrouped_2014 = []
LA_commerceGrouped_2014 = []
LA_adminGrouped_2014 = []
LA_itGrouped_2014 = []
LA_otherGrouped_2014 = []

LA_policeGrouped_2014, LA_fireGrouped_2014, LA_healthGrouped_2014, LA_servicesGrouped_2014, LA_lawGrouped_2014, LA_commerceGrouped_2014, LA_adminGrouped_2014, LA_itGrouped_2014, LA_otherGrouped_2014 = groupSorter(LA2014_salary_df)

#2015 LA Sort
LA_policeGrouped_2015 = []
LA_fireGrouped_2015 = []
LA_healthGrouped_2015 = []
LA_servicesGrouped_2015 = []
LA_lawGrouped_2015 = []
LA_commerceGrouped_2015 = []
LA_adminGrouped_2015 = []
LA_itGrouped_2015 = []
LA_otherGrouped_2015 = []

LA_policeGrouped_2015, LA_fireGrouped_2015, LA_healthGrouped_2015, LA_servicesGrouped_2015, LA_lawGrouped_2015, LA_commerceGrouped_2015, LA_adminGrouped_2015, LA_itGrouped_2015, LA_otherGrouped_2015 = groupSorter(LA2015_salary_df)

#2016 LA Sort
LA_policeGrouped_2016 = []
LA_fireGrouped_2016 = []
LA_healthGrouped_2016 = []
LA_servicesGrouped_2016 = []
LA_lawGrouped_2016 = []
LA_commerceGrouped_2016 = []
LA_adminGrouped_2016 = []
LA_itGrouped_2016 = []
LA_otherGrouped_2016 = []

LA_policeGrouped_2016, LA_fireGrouped_2016, LA_healthGrouped_2016, LA_servicesGrouped_2016, LA_lawGrouped_2016, LA_commerceGrouped_2016, LA_adminGrouped_2016, LA_itGrouped_2016, LA_otherGrouped_2016 = groupSorter(LA2016_salary_df)

#2017 LA Sort
LA_policeGrouped_2017 = []
LA_fireGrouped_2017 = []
LA_healthGrouped_2017 = []
LA_servicesGrouped_2017 = []
LA_lawGrouped_2017 = []
LA_commerceGrouped_2017 = []
LA_adminGrouped_2017 = []
LA_itGrouped_2017 = []
LA_otherGrouped_2017 = []

LA_policeGrouped_2017, LA_fireGrouped_2017, LA_healthGrouped_2017, LA_servicesGrouped_2017, LA_lawGrouped_2017, LA_commerceGrouped_2017, LA_adminGrouped_2017, LA_itGrouped_2017, LA_otherGrouped_2017 = groupSorter(LA2017_salary_df)

In [32]:
LAaveragePolice2011 = 0
LAaveragePolice2012 = 0
LAaveragePolice2013 = 0
LAaveragePolice2014 = 0
LAaveragePolice2015 = 0
LAaveragePolice2016 = 0
LAaveragePolice2017 = 0

LApolice2011list = []
LApolice2012list = []
LApolice2013list = []
LApolice2014list = []
LApolice2015list = []
LApolice2016list = []
LApolice2017list = []

for i in LA_policeGrouped_2011:
    LAaveragePolice2011 += LA2011_salary_df["TotalPayBenefits"].loc[i]
    LApolice2011list.append(LA2011_salary_df.loc[i])
    
for i in LA_policeGrouped_2012:
    LAaveragePolice2012 += LA2012_salary_df["TotalPayBenefits"].loc[i]
    LApolice2012list.append(LA2012_salary_df.loc[i])
    
for i in LA_policeGrouped_2013:
    LAaveragePolice2013 += LA2013_salary_df["TotalPayBenefits"].loc[i]
    LApolice2013list.append(LA2013_salary_df.loc[i])
    
for i in LA_policeGrouped_2014:
    LAaveragePolice2014 += LA2014_salary_df["TotalPayBenefits"].loc[i]
    LApolice2014list.append(LA2014_salary_df.loc[i])
    
for i in LA_policeGrouped_2015:
    LAaveragePolice2015 += LA2015_salary_df["TotalPayBenefits"].loc[i]
    LApolice2015list.append(LA2015_salary_df.loc[i])
    
for i in LA_policeGrouped_2016:
    LAaveragePolice2016 += LA2016_salary_df["TotalPayBenefits"].loc[i]
    LApolice2016list.append(LA2016_salary_df.loc[i])
    
for i in LA_policeGrouped_2017:
    LAaveragePolice2017 += LA2017_salary_df["TotalPayBenefits"].loc[i]
    LApolice2017list.append(LA2017_salary_df.loc[i])
    
LAaveragePolice2011 = LAaveragePolice2011/len(LA_policeGrouped_2011)
LAaveragePolice2012 = LAaveragePolice2012/len(LA_policeGrouped_2012)
LAaveragePolice2013 = LAaveragePolice2013/len(LA_policeGrouped_2013)
LAaveragePolice2014 = LAaveragePolice2014/len(LA_policeGrouped_2014)
LAaveragePolice2015 = LAaveragePolice2015/len(LA_policeGrouped_2015)
LAaveragePolice2016 = LAaveragePolice2016/len(LA_policeGrouped_2016)
LAaveragePolice2017 = LAaveragePolice2017/len(LA_policeGrouped_2017)

LApolice2011df = pd.DataFrame(LApolice2011list)
LApolice2012df = pd.DataFrame(LApolice2012list)
LApolice2013df = pd.DataFrame(LApolice2013list)
LApolice2014df = pd.DataFrame(LApolice2014list)
LApolice2015df = pd.DataFrame(LApolice2015list)
LApolice2016df = pd.DataFrame(LApolice2016list)
LApolice2017df = pd.DataFrame(LApolice2017list)

In [33]:
LAaverageFire2011 = 0
LAaverageFire2012 = 0
LAaverageFire2013 = 0
LAaverageFire2014 = 0
LAaverageFire2015 = 0
LAaverageFire2016 = 0
LAaverageFire2017 = 0

LAfire2011list = []
LAfire2012list = []
LAfire2013list = []
LAfire2014list = []
LAfire2015list = []
LAfire2016list = []
LAfire2017list = []

for i in LA_fireGrouped_2011:
    LAaverageFire2011 += LA2011_salary_df["TotalPayBenefits"].loc[i]
    LAfire2011list.append(LA2011_salary_df.loc[i])
    
for i in LA_fireGrouped_2012:
    LAaverageFire2012 += LA2012_salary_df["TotalPayBenefits"].loc[i]
    LAfire2012list.append(LA2012_salary_df.loc[i])
    
for i in LA_fireGrouped_2013:
    LAaverageFire2013 += LA2013_salary_df["TotalPayBenefits"].loc[i]
    LAfire2013list.append(LA2013_salary_df.loc[i])
    
for i in LA_fireGrouped_2014:
    LAaverageFire2014 += LA2014_salary_df["TotalPayBenefits"].loc[i]
    LAfire2014list.append(LA2014_salary_df.loc[i])
    
for i in LA_fireGrouped_2015:
    LAaverageFire2015 += LA2015_salary_df["TotalPayBenefits"].loc[i]
    LAfire2015list.append(LA2015_salary_df.loc[i])
    
for i in LA_fireGrouped_2016:
    LAaverageFire2016 += LA2016_salary_df["TotalPayBenefits"].loc[i]
    LAfire2016list.append(LA2016_salary_df.loc[i])
    
for i in LA_fireGrouped_2017:
    LAaverageFire2017 += LA2017_salary_df["TotalPayBenefits"].loc[i]
    LAfire2017list.append(LA2017_salary_df.loc[i])
    
LAaverageFire2011 = LAaverageFire2011/len(LA_fireGrouped_2011)
LAaverageFire2012 = LAaverageFire2012/len(LA_fireGrouped_2012)
LAaverageFire2013 = LAaverageFire2013/len(LA_fireGrouped_2013)
LAaverageFire2014 = LAaverageFire2014/len(LA_fireGrouped_2014)
LAaverageFire2015 = LAaverageFire2015/len(LA_fireGrouped_2015)
LAaverageFire2016 = LAaverageFire2016/len(LA_fireGrouped_2016)
LAaverageFire2017 = LAaverageFire2017/len(LA_fireGrouped_2017)

LAfire2011df = pd.DataFrame(LAfire2011list)
LAfire2012df = pd.DataFrame(LAfire2012list)
LAfire2013df = pd.DataFrame(LAfire2013list)
LAfire2014df = pd.DataFrame(LAfire2014list)
LAfire2015df = pd.DataFrame(LAfire2015list)
LAfire2016df = pd.DataFrame(LAfire2016list)
LAfire2017df = pd.DataFrame(LAfire2017list)

In [34]:
#Might be able to skip this; preliminary glances looks like there is little to no health informatoin in LA dataset

LAaverageHealth2011 = 0
LAaverageHealth2012 = 0
LAaverageHealth2013 = 0
LAaverageHealth2014 = 0
LAaverageHealth2015 = 0
LAaverageHealth2016 = 0
LAaverageHealth2017 = 0

LAhealth2011list = []
LAhealth2012list = []
LAhealth2013list = []
LAhealth2014list = []
LAhealth2015list = []
LAhealth2016list = []
LAhealth2017list = []

for i in LA_healthGrouped_2011:
    LAaverageHealth2011 += LA2011_salary_df["TotalPayBenefits"].loc[i]
    LAhealth2011list.append(LA2011_salary_df.loc[i])
    
for i in LA_healthGrouped_2012:
    LAaverageHealth2012 += LA2012_salary_df["TotalPayBenefits"].loc[i]
    LAhealth2012list.append(LA2012_salary_df.loc[i])
    
for i in LA_healthGrouped_2013:
    LAaverageHealth2013 += LA2013_salary_df["TotalPayBenefits"].loc[i]
    LAhealth2013list.append(LA2013_salary_df.loc[i])
    
for i in LA_healthGrouped_2014:
    LAaverageHealth2014 += LA2014_salary_df["TotalPayBenefits"].loc[i]
    LAhealth2014list.append(LA2014_salary_df.loc[i])
    
for i in LA_healthGrouped_2015:
    LAaverageHealth2015 += LA2015_salary_df["TotalPayBenefits"].loc[i]
    LAhealth2015list.append(LA2015_salary_df.loc[i])
    
for i in LA_healthGrouped_2016:
    LAaverageHealth2016 += LA2016_salary_df["TotalPayBenefits"].loc[i]
    LAhealth2016list.append(LA2016_salary_df.loc[i])
    
for i in LA_healthGrouped_2017:
    LAaverageHealth2017 += LA2017_salary_df["TotalPayBenefits"].loc[i]
    LAhealth2017list.append(LA2017_salary_df.loc[i])
    
LAaverageHealth2011 = LAaverageHealth2011/len(LA_healthGrouped_2011)
LAaverageHealth2012 = LAaverageHealth2012/len(LA_healthGrouped_2012)
LAaverageHealth2013 = LAaverageHealth2013/len(LA_healthGrouped_2013)
LAaverageHealth2014 = LAaverageHealth2014/len(LA_healthGrouped_2014)
LAaverageHealth2015 = LAaverageHealth2015/len(LA_healthGrouped_2015)
LAaverageHealth2016 = LAaverageHealth2016/len(LA_healthGrouped_2016)
LAaverageHealth2017 = LAaverageHealth2017/len(LA_healthGrouped_2017)

LAhealth2011df = pd.DataFrame(LAhealth2011list)
LAhealth2012df = pd.DataFrame(LAhealth2012list)
LAhealth2013df = pd.DataFrame(LAhealth2013list)
LAhealth2014df = pd.DataFrame(LAhealth2014list)
LAhealth2015df = pd.DataFrame(LAhealth2015list)
LAhealth2016df = pd.DataFrame(LAhealth2016list)
LAhealth2017df = pd.DataFrame(LAhealth2017list)

ZeroDivisionError: division by zero

In [35]:
LAaverageServices2011 = 0
LAaverageServices2012 = 0
LAaverageServices2013 = 0
LAaverageServices2014 = 0
LAaverageServices2015 = 0
LAaverageServices2016 = 0
LAaverageServices2017 = 0

LAservices2011list = []
LAservices2012list = []
LAservices2013list = []
LAservices2014list = []
LAservices2015list = []
LAservices2016list = []
LAservices2017list = []

for i in LA_servicesGrouped_2011:
    LAaverageServices2011 += LA2011_salary_df["TotalPayBenefits"].loc[i]
    LAservices2011list.append(LA2011_salary_df.loc[i])
    
for i in LA_servicesGrouped_2012:
    LAaverageServices2012 += LA2012_salary_df["TotalPayBenefits"].loc[i]
    LAservices2012list.append(LA2012_salary_df.loc[i])
    
for i in LA_servicesGrouped_2013:
    LAaverageServices2013 += LA2013_salary_df["TotalPayBenefits"].loc[i]
    LAservices2013list.append(LA2013_salary_df.loc[i])
    
for i in LA_servicesGrouped_2014:
    LAaverageServices2014 += LA2014_salary_df["TotalPayBenefits"].loc[i]
    LAservices2014list.append(LA2014_salary_df.loc[i])
    
for i in LA_servicesGrouped_2015:
    LAaverageServices2015 += LA2015_salary_df["TotalPayBenefits"].loc[i]
    LAservices2015list.append(LA2015_salary_df.loc[i])
    
for i in LA_servicesGrouped_2016:
    LAaverageServices2016 += LA2016_salary_df["TotalPayBenefits"].loc[i]
    LAservices2016list.append(LA2016_salary_df.loc[i])
    
for i in LA_servicesGrouped_2017:
    LAaverageServices2017 += LA2017_salary_df["TotalPayBenefits"].loc[i]
    LAservices2017list.append(LA2017_salary_df.loc[i])
    
LAaverageServices2011 = LAaverageServices2011/len(LA_servicesGrouped_2011)
LAaverageServices2012 = LAaverageServices2012/len(LA_servicesGrouped_2012)
LAaverageServices2013 = LAaverageServices2013/len(LA_servicesGrouped_2013)
LAaverageServices2014 = LAaverageServices2014/len(LA_servicesGrouped_2014)
LAaverageServices2015 = LAaverageServices2015/len(LA_servicesGrouped_2015)
LAaverageServices2016 = LAaverageServices2016/len(LA_servicesGrouped_2016)
LAaverageServices2017 = LAaverageServices2017/len(LA_servicesGrouped_2017)

LAservices2011df = pd.DataFrame(LAservices2011list)
LAservices2012df = pd.DataFrame(LAservices2012list)
LAservices2013df = pd.DataFrame(LAservices2013list)
LAservices2014df = pd.DataFrame(LAservices2014list)
LAservices2015df = pd.DataFrame(LAservices2015list)
LAservices2016df = pd.DataFrame(LAservices2016list)
LAservices2017df = pd.DataFrame(LAservices2017list)

In [36]:
LAaverageLaw2011 = 0
LAaverageLaw2012 = 0
LAaverageLaw2013 = 0
LAaverageLaw2014 = 0
LAaverageLaw2015 = 0
LAaverageLaw2016 = 0
LAaverageLaw2017 = 0

LAlaw2011list = []
LAlaw2012list = []
LAlaw2013list = []
LAlaw2014list = []
LAlaw2015list = []
LAlaw2016list = []
LAlaw2017list = []

for i in LA_lawGrouped_2011:
    LAaverageLaw2011 += LA2011_salary_df["TotalPayBenefits"].loc[i]
    LAlaw2011list.append(LA2011_salary_df.loc[i])
    
for i in LA_lawGrouped_2012:
    LAaverageLaw2012 += LA2012_salary_df["TotalPayBenefits"].loc[i]
    LAlaw2012list.append(LA2012_salary_df.loc[i])
    
for i in LA_lawGrouped_2013:
    LAaverageLaw2013 += LA2013_salary_df["TotalPayBenefits"].loc[i]
    LAlaw2013list.append(LA2013_salary_df.loc[i])
    
for i in LA_lawGrouped_2014:
    LAaverageLaw2014 += LA2014_salary_df["TotalPayBenefits"].loc[i]
    LAlaw2014list.append(LA2014_salary_df.loc[i])
    
for i in LA_lawGrouped_2015:
    LAaverageLaw2015 += LA2015_salary_df["TotalPayBenefits"].loc[i]
    LAlaw2015list.append(LA2015_salary_df.loc[i])
    
for i in LA_lawGrouped_2016:
    LAaverageLaw2016 += LA2016_salary_df["TotalPayBenefits"].loc[i]
    LAlaw2016list.append(LA2016_salary_df.loc[i])
    
for i in LA_lawGrouped_2017:
    LAaverageLaw2017 += LA2017_salary_df["TotalPayBenefits"].loc[i]
    LAlaw2017list.append(LA2017_salary_df.loc[i])
    
LAaverageLaw2011 = LAaverageLaw2011/len(LA_lawGrouped_2011)
LAaverageLaw2012 = LAaverageLaw2012/len(LA_lawGrouped_2012)
LAaverageLaw2013 = LAaverageLaw2013/len(LA_lawGrouped_2013)
LAaverageLaw2014 = LAaverageLaw2014/len(LA_lawGrouped_2014)
LAaverageLaw2015 = LAaverageLaw2015/len(LA_lawGrouped_2015)
LAaverageLaw2016 = LAaverageLaw2016/len(LA_lawGrouped_2016)
LAaverageLaw2017 = LAaverageLaw2017/len(LA_lawGrouped_2017)

LAlaw2011df = pd.DataFrame(LAlaw2011list)
LAlaw2012df = pd.DataFrame(LAlaw2012list)
LAlaw2013df = pd.DataFrame(LAlaw2013list)
LAlaw2014df = pd.DataFrame(LAlaw2014list)
LAlaw2015df = pd.DataFrame(LAlaw2015list)
LAlaw2016df = pd.DataFrame(LAlaw2016list)
LAlaw2017df = pd.DataFrame(LAlaw2017list)

In [37]:
LAaverageCommerce2011 = 0
LAaverageCommerce2012 = 0
LAaverageCommerce2013 = 0
LAaverageCommerce2014 = 0
LAaverageCommerce2015 = 0
LAaverageCommerce2016 = 0
LAaverageCommerce2017 = 0

LAcommerce2011list = []
LAcommerce2012list = []
LAcommerce2013list = []
LAcommerce2014list = []
LAcommerce2015list = []
LAcommerce2016list = []
LAcommerce2017list = []

for i in LA_commerceGrouped_2011:
    LAaverageCommerce2011 += LA2011_salary_df["TotalPayBenefits"].loc[i]
    LAcommerce2011list.append(LA2011_salary_df.loc[i])
    
for i in LA_commerceGrouped_2012:
    LAaverageCommerce2012 += LA2012_salary_df["TotalPayBenefits"].loc[i]
    LAcommerce2012list.append(LA2012_salary_df.loc[i])
    
for i in LA_commerceGrouped_2013:
    LAaverageCommerce2013 += LA2013_salary_df["TotalPayBenefits"].loc[i]
    LAcommerce2013list.append(LA2013_salary_df.loc[i])
    
for i in LA_commerceGrouped_2014:
    LAaverageCommerce2014 += LA2014_salary_df["TotalPayBenefits"].loc[i]
    LAcommerce2014list.append(LA2014_salary_df.loc[i])
    
for i in LA_commerceGrouped_2015:
    LAaverageCommerce2015 += LA2015_salary_df["TotalPayBenefits"].loc[i]
    LAcommerce2015list.append(LA2015_salary_df.loc[i])
    
for i in LA_commerceGrouped_2016:
    LAaverageCommerce2016 += LA2016_salary_df["TotalPayBenefits"].loc[i]
    LAcommerce2016list.append(LA2016_salary_df.loc[i])
    
for i in LA_commerceGrouped_2017:
    LAaverageCommerce2017 += LA2017_salary_df["TotalPayBenefits"].loc[i]
    LAcommerce2017list.append(LA2017_salary_df.loc[i])
    
LAaverageCommerce2011 = LAaverageCommerce2011/len(LA_commerceGrouped_2011)
LAaverageCommerce2012 = LAaverageCommerce2012/len(LA_commerceGrouped_2012)
LAaverageCommerce2013 = LAaverageCommerce2013/len(LA_commerceGrouped_2013)
LAaverageCommerce2014 = LAaverageCommerce2014/len(LA_commerceGrouped_2014)
LAaverageCommerce2015 = LAaverageCommerce2015/len(LA_commerceGrouped_2015)
LAaverageCommerce2016 = LAaverageCommerce2016/len(LA_commerceGrouped_2016)
LAaverageCommerce2017 = LAaverageCommerce2017/len(LA_commerceGrouped_2017)

LAcommerce2011df = pd.DataFrame(LAcommerce2011list)
LAcommerce2012df = pd.DataFrame(LAcommerce2012list)
LAcommerce2013df = pd.DataFrame(LAcommerce2013list)
LAcommerce2014df = pd.DataFrame(LAcommerce2014list)
LAcommerce2015df = pd.DataFrame(LAcommerce2015list)
LAcommerce2016df = pd.DataFrame(LAcommerce2016list)
LAcommerce2017df = pd.DataFrame(LAcommerce2017list)

In [38]:
LAaverageAdmin2011 = 0
LAaverageAdmin2012 = 0
LAaverageAdmin2013 = 0
LAaverageAdmin2014 = 0
LAaverageAdmin2015 = 0
LAaverageAdmin2016 = 0
LAaverageAdmin2017 = 0

LAadmin2011list = []
LAadmin2012list = []
LAadmin2013list = []
LAadmin2014list = []
LAadmin2015list = []
LAadmin2016list = []
LAadmin2017list = []

for i in LA_adminGrouped_2011:
    LAaverageAdmin2011 += LA2011_salary_df["TotalPayBenefits"].loc[i]
    LAadmin2011list.append(LA2011_salary_df.loc[i])
    
for i in LA_adminGrouped_2012:
    LAaverageAdmin2012 += LA2012_salary_df["TotalPayBenefits"].loc[i]
    LAadmin2012list.append(LA2012_salary_df.loc[i])
    
for i in LA_adminGrouped_2013:
    LAaverageAdmin2013 += LA2013_salary_df["TotalPayBenefits"].loc[i]
    LAadmin2013list.append(LA2013_salary_df.loc[i])
    
for i in LA_adminGrouped_2014:
    LAaverageAdmin2014 += LA2014_salary_df["TotalPayBenefits"].loc[i]
    LAadmin2014list.append(LA2014_salary_df.loc[i])
    
for i in LA_adminGrouped_2015:
    LAaverageAdmin2015 += LA2015_salary_df["TotalPayBenefits"].loc[i]
    LAadmin2015list.append(LA2015_salary_df.loc[i])
    
for i in LA_adminGrouped_2016:
    LAaverageAdmin2016 += LA2016_salary_df["TotalPayBenefits"].loc[i]
    LAadmin2016list.append(LA2016_salary_df.loc[i])
    
for i in LA_adminGrouped_2017:
    LAaverageAdmin2017 += LA2017_salary_df["TotalPayBenefits"].loc[i]
    LAadmin2017list.append(LA2017_salary_df.loc[i])
    
LAaverageAdmin2011 = LAaverageAdmin2011/len(LA_adminGrouped_2011)
LAaverageAdmin2012 = LAaverageAdmin2012/len(LA_adminGrouped_2012)
LAaverageAdmin2013 = LAaverageAdmin2013/len(LA_adminGrouped_2013)
LAaverageAdmin2014 = LAaverageAdmin2014/len(LA_adminGrouped_2014)
LAaverageAdmin2015 = LAaverageAdmin2015/len(LA_adminGrouped_2015)
LAaverageAdmin2016 = LAaverageAdmin2016/len(LA_adminGrouped_2016)
LAaverageAdmin2017 = LAaverageAdmin2017/len(LA_adminGrouped_2017)

LAadmin2011df = pd.DataFrame(LAadmin2011list)
LAadmin2012df = pd.DataFrame(LAadmin2012list)
LAadmin2013df = pd.DataFrame(LAadmin2013list)
LAadmin2014df = pd.DataFrame(LAadmin2014list)
LAadmin2015df = pd.DataFrame(LAadmin2015list)
LAadmin2016df = pd.DataFrame(LAadmin2016list)
LAadmin2017df = pd.DataFrame(LAadmin2017list)

In [39]:
LAaverageIT2011 = 0
LAaverageIT2012 = 0
LAaverageIT2013 = 0
LAaverageIT2014 = 0
LAaverageIT2015 = 0
LAaverageIT2016 = 0
LAaverageIT2017 = 0

LAit2011list = []
LAit2012list = []
LAit2013list = []
LAit2014list = []
LAit2015list = []
LAit2016list = []
LAit2017list = []

for i in LA_itGrouped_2011:
    LAaverageIT2011 += LA2011_salary_df["TotalPayBenefits"].loc[i]
    LAit2011list.append(LA2011_salary_df.loc[i])
    
for i in LA_itGrouped_2012:
    LAaverageIT2012 += LA2012_salary_df["TotalPayBenefits"].loc[i]
    LAit2012list.append(LA2012_salary_df.loc[i])
    
for i in LA_itGrouped_2013:
    LAaverageIT2013 += LA2013_salary_df["TotalPayBenefits"].loc[i]
    LAit2013list.append(LA2013_salary_df.loc[i])
    
for i in LA_itGrouped_2014:
    LAaverageIT2014 += LA2014_salary_df["TotalPayBenefits"].loc[i]
    LAit2014list.append(LA2014_salary_df.loc[i])
    
for i in LA_itGrouped_2015:
    LAaverageIT2015 += LA2015_salary_df["TotalPayBenefits"].loc[i]
    LAit2015list.append(LA2015_salary_df.loc[i])
    
for i in LA_itGrouped_2016:
    LAaverageIT2016 += LA2016_salary_df["TotalPayBenefits"].loc[i]
    LAit2016list.append(LA2016_salary_df.loc[i])
    
for i in LA_itGrouped_2017:
    LAaverageIT2017 += LA2017_salary_df["TotalPayBenefits"].loc[i]
    LAit2017list.append(LA2017_salary_df.loc[i])
    
LAaverageIT2011 = LAaverageIT2011/len(LA_itGrouped_2011)
LAaverageIT2012 = LAaverageIT2012/len(LA_itGrouped_2012)
LAaverageIT2013 = LAaverageIT2013/len(LA_itGrouped_2013)
LAaverageIT2014 = LAaverageIT2014/len(LA_itGrouped_2014)
LAaverageIT2015 = LAaverageIT2015/len(LA_itGrouped_2015)
LAaverageIT2016 = LAaverageIT2016/len(LA_itGrouped_2016)
LAaverageIT2017 = LAaverageIT2017/len(LA_itGrouped_2017)

LAit2011df = pd.DataFrame(LAit2011list)
LAit2012df = pd.DataFrame(LAit2012list)
LAit2013df = pd.DataFrame(LAit2013list)
LAit2014df = pd.DataFrame(LAit2014list)
LAit2015df = pd.DataFrame(LAit2015list)
LAit2016df = pd.DataFrame(LAit2016list)
LAit2017df = pd.DataFrame(LAit2017list)

In [40]:
LAaverageOther2011 = 0
LAaverageOther2012 = 0
LAaverageOther2013 = 0
LAaverageOther2014 = 0
LAaverageOther2015 = 0
LAaverageOther2016 = 0
LAaverageOther2017 = 0

LAother2011list = []
LAother2012list = []
LAother2013list = []
LAother2014list = []
LAother2015list = []
LAother2016list = []
LAother2017list = []

for i in LA_otherGrouped_2011:
    LAaverageOther2011 += LA2011_salary_df["TotalPayBenefits"].loc[i]
    LAother2011list.append(LA2011_salary_df.loc[i])
    
for i in LA_otherGrouped_2012:
    LAaverageOther2012 += LA2012_salary_df["TotalPayBenefits"].loc[i]
    LAother2012list.append(LA2012_salary_df.loc[i])
    
for i in LA_otherGrouped_2013:
    LAaverageOther2013 += LA2013_salary_df["TotalPayBenefits"].loc[i]
    LAother2013list.append(LA2013_salary_df.loc[i])
    
for i in LA_otherGrouped_2014:
    LAaverageOther2014 += LA2014_salary_df["TotalPayBenefits"].loc[i]
    LAother2014list.append(LA2014_salary_df.loc[i])
    
for i in LA_otherGrouped_2015:
    LAaverageOther2015 += LA2015_salary_df["TotalPayBenefits"].loc[i]
    LAother2015list.append(LA2015_salary_df.loc[i])
    
for i in LA_otherGrouped_2016:
    LAaverageOther2016 += LA2016_salary_df["TotalPayBenefits"].loc[i]
    LAother2016list.append(LA2016_salary_df.loc[i])
    
for i in LA_otherGrouped_2017:
    LAaverageOther2017 += LA2017_salary_df["TotalPayBenefits"].loc[i]
    LAother2017list.append(LA2017_salary_df.loc[i])
    
LAaverageOther2011 = LAaverageOther2011/len(LA_otherGrouped_2011)
LAaverageOther2012 = LAaverageOther2012/len(LA_otherGrouped_2012)
LAaverageOther2013 = LAaverageOther2013/len(LA_otherGrouped_2013)
LAaverageOther2014 = LAaverageOther2014/len(LA_otherGrouped_2014)
LAaverageOther2015 = LAaverageOther2015/len(LA_otherGrouped_2015)
LAaverageOther2016 = LAaverageOther2016/len(LA_otherGrouped_2016)
LAaverageOther2017 = LAaverageOther2017/len(LA_otherGrouped_2017)

LAother2011df = pd.DataFrame(LAother2011list)
LAother2012df = pd.DataFrame(LAother2012list)
LAother2013df = pd.DataFrame(LAother2013list)
LAother2014df = pd.DataFrame(LAother2014list)
LAother2015df = pd.DataFrame(LAother2015list)
LAother2016df = pd.DataFrame(LAother2016list)
LAother2017df = pd.DataFrame(LAother2017list)

In [41]:
print(LAaverageOther2011, LAaverageOther2012)

94566.831575179 99413.03373176658

CPI will help us understand inflation to compare the increase in wages relative to inflation and home price increases.

In [42]:
LAcpi_df = pd.read_csv("avgSFCPI.csv")
SFcpi_df = pd.read_csv("avgLACPI.csv")
#cpi_df = cpi_df.dropna()
#SFcpi_df

In [52]:
medianHousing_df = pd.read_csv("medianHomes.csv", usecols=["Mon-Yr", "San Francisco", "Los Angeles"])
medianHousing_df = medianHousing_df.dropna()
medianHousing_df

#Strip '$ and ,' sign

medianHousing_df['San Francisco'] = medianHousing_df['San Francisco'].str.replace('$', '')
medianHousing_df['Los Angeles'] = medianHousing_df['Los Angeles'].str.replace('$', '')
medianHousing_df['San Francisco'] = medianHousing_df['San Francisco'].str.replace(',', '')
medianHousing_df['Los Angeles'] = medianHousing_df['Los Angeles'].str.replace(',', '')
medianHousing_df['Los Angeles'] = medianHousing_df['Los Angeles'].astype(int)
medianHousing_df['San Francisco'] = medianHousing_df['San Francisco'].astype(int)\

print(medianHousing_df)

    Mon-Yr  Los Angeles  San Francisco
0   Jan-11       305570         632936
1   Feb-11       286100         645454
2   Mar-11       282170         764535
3   Apr-11       290600         721311
4   May-11       271540         701922
5   Jun-11       301300         742646
6   Jul-11       317060         739753
7   Aug-11       312900         698629
8   Sep-11       330610         654850
9   Oct-11       307970         739918
10  Nov-11       291260         696917
11  Dec-11       306950         656609
12  Jan-12       290900         649999
13  Feb-12       272690         665492
14  Mar-12       272920         701171
15  Apr-12       286800         782738
16  May-12       282930         785714
17  Jun-12       315390         813559
18  Jul-12       334190         787791
19  Aug-12       344770         759615
20  Sep-12       373020         719339
21  Oct-12       364810         877155
22  Nov-12       337080         840277
23  Dec-12       367400         864795
24  Jan-13       349720         743643
25  Feb-13       337630         832031
26  Mar-13       340890         936110
27  Apr-13       361630        1011029
28  May-13       365990        1009615
29  Jun-13       403760         941901
..     ...          ...            ...
66  Jul-16       513700        1362500
67  Aug-16       520400        1257500
68  Sep-16       550705        1218750
69  Oct-16       536760        1407500
70  Nov-16       487060        1360500
71  Dec-16       522520        1315210
72  Jan-17       509130        1250000
73  Feb-17       470200        1276000
74  Mar-17       465810        1350000
75  Apr-17       480230        1402500
76  May-17       492040        1501680
77  Jun-17       548220        1469000
78  Jul-17       566240        1428000
79  Aug-17       570720        1380000
80  Sep-17       606110        1350000
81  Oct-17       580360        1594000
82  Nov-17       530920        1500000
83  Dec-17       577690        1475000
84  Jan-18       564100        1330000
85  Feb-18       527280        1730000
86  Mar-18       528980        1680000
87  Apr-18       528540        1650000
88  May-18       536940        1620000
89  Jun-18       586090        1620000
90  Jul-18       597520        1650000
91  Aug-18       607490        1550000
92  Sep-18       634680        1507500
93  Oct-18       614500        1600000
94  Nov-18       553940        1442500
95  Dec-18       588140        1500000

[96 rows x 3 columns]

In [54]:
medianSF11, medianSF12, medianSF13, medianSF14, medianSF15, medianSF16, medianSF17, medianSF18 = (0,0,0,0,0,0,0,0)
medianLA11, medianLA12, medianLA13, medianLA14, medianLA15, medianLA16, medianLA17, medianLA18 = (0,0,0,0,0,0,0,0)

for i in range(0,96):
    if i in range(0,12):
        medianSF11 += medianHousing_df['San Francisco'].iloc[i]
        medianLA11 += medianHousing_df['Los Angeles'].iloc[i]
    if i in range(12,24):
        medianSF12 += medianHousing_df['San Francisco'].iloc[i]
        medianLA12 += medianHousing_df['Los Angeles'].iloc[i]
    if i in range(24,36):
        medianSF13 += medianHousing_df['San Francisco'].iloc[i]
        medianLA13 += medianHousing_df['Los Angeles'].iloc[i]
    if i in range(36,48):
        medianSF14 += medianHousing_df['San Francisco'].iloc[i]
        medianLA14 += medianHousing_df['Los Angeles'].iloc[i]
    if i in range(48,60):
        medianSF15 += medianHousing_df['San Francisco'].iloc[i]
        medianLA15 += medianHousing_df['Los Angeles'].iloc[i]
    if i in range(60,72):
        medianSF16 += medianHousing_df['San Francisco'].iloc[i]
        medianLA16 += medianHousing_df['Los Angeles'].iloc[i]
    if i in range(72,84):
        medianSF17 += medianHousing_df['San Francisco'].iloc[i]
        medianLA17 += medianHousing_df['Los Angeles'].iloc[i]
    if i in range(84,96):
        medianSF18 += medianHousing_df['San Francisco'].iloc[i]
        medianLA18 += medianHousing_df['Los Angeles'].iloc[i]
        
medianSF11 = medianSF11 / 12
medianSF12 = medianSF12/ 12
medianSF13 = medianSF13 / 12
medianSF14 = medianSF14 / 12
medianSF15 = medianSF15 / 12
medianSF16 = medianSF16 / 12
medianSF17 = medianSF17 / 12
medianSF18 = medianSF18 / 12

medianLA11 = medianLA11 / 12
medianLA12 = medianLA12 / 12
medianLA13 = medianLA13 / 12
medianLA14 = medianLA14 / 12
medianLA15 = medianLA15 / 12
medianLA16 = medianLA16 / 12
medianLA17 = medianLA17 / 12
medianLA18 = medianLA18/ 12